:root {
}

@font-face {
  font-family: "night_in_tokyoregular";
  src: url("../assets/fonts/night-in-tokyo.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: inter;
  font-family: "Inter", sans-serif;
  /* font-family: "night_in_tokyoregular"; */
  z-index: 10;
}

body {
  background-color: #f5f5f5;
}
